<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/companyList.css">
</head>
<body>
   
    <div class="button-container">
        <a href="/"><button id="add-button">Home</button></a>
        
        <a href="manageInterview/interviewAllocation"><button>Interview Allocation</button></a>
        <!-- <a href="manageInterview/interviewDeallocation"><button class="deallocation">Interview Deallocation</button></a> -->
        <a href="manageInterview/addCompany"><button id="add-button">Add Company</button></a>
    </div>

    <table>
        <caption>Interview Schedule</caption>
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Interview Date</th>
            </tr>
        </thead>
        <tbody>
            <% for(a of result){%>
                
                    <tr>
                        <td style="background-color: #eaf6ff;"><a href="manageInterview/showStudent/<%=a.id%>"><%=a.company_name%></a></td>
                        <td style="background-color: #eaf6ff;"><%=a.interview_date%></td>
                    </tr>
              
            <%}%>
          
        </tbody>
    </table>
</body>
</html>
