<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/showStudent.css">
</head>
<body>
    <div class="button-container">
        <a href="/manageInterview/updateResult/<%=ans[0].company%>"><button>Up</button></a>
        <!-- <a href="manageInterview/interviewDeallocation"><button class="deallocation">Interview Deallocation</button></a> -->
        <!-- <a href="manageInterview/addCompany"><button id="add-button">Add Company</button></a> -->
    </div>

    <table>
    <caption>Interview Schedule</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
           
            <%for(a of ans){%>
                <tr>
                    <td style="background-color: #eaf6ff;"><%=a.student.name%></td>
                    <td style="background-color: #eaf6ff;"><%=a.student.email%></td>
                    <td style="background-color: #eaf6ff;"><%=a.result%></td>
                </tr>
                
                
            <%}%>
            
            <!-- <tr>
                <td>Example Co.</td>
                <td>July 25, 2023</td>
                <td>Pass</td>
            </tr>
            <tr>
                <td style="background-color: #eaf6ff;">Alpha Corp</td>
                <td style="background-color: #eaf6ff;">August 1, 2023</td>
                <td style="background-color: #eaf6ff;">Pass</td>
            </tr> -->
        </tbody>
    </table>
</body>
</html>
