<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/updateResult.css">
</head>
<body>
    <div class="form-container">
        <h1 class="form-heading">Interview Allocation</h1>
        <form action="/manageInterview/updateResult" method="post">
            <div class="form-group">
                <label for="company-name">Result:</label>
                <select id="company-name" name="result">
                  
                    <option value="Pass">Pass</option>
                    <option value="Fail">Fail</option>
                    <option value="On Hold">On Hold</option>
                    <option value="Didn't Attempt">Didn't Attempt</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <select id="email" name="email">
                    <%for(a of ans){%>
                        <option value="<%=a.student.email%>"><%=a.student.email%></option>
                        
                    <%}%>
                   
                 
                    <!-- <option value="email2@example.com">Email 2</option>
                    <option value="email3@example.com">Email 3</option> -->
                    <!-- Add more options as needed -->
                </select>

                <input type="text" value="<%=a.company%>" name="company_id" hidden>
            </div>
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
</body>
</html>
